input{
    background-color: rgb(228, 218, 218);
    max-height: 5vh;
    padding: 10px;

    text-align: center;

    border: 0;
    outline: none;
    font-size: 30px;

    box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.89) inset;
    -webkit-box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.89) inset;
    -moz-box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.89) inset;
}
form{
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.inputSquare{
    background-color: rgb(165, 155, 162);
    border-radius: 25px;
    
    margin: 80px auto auto auto;
    max-height: 28vh;
    max-width: 80%;

    box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.8);
    -webkit-box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 5px 6px 9px 0px rgba(0,0,0,0.8);

}

.inputSquare li {
  padding: 0;
  margin: 10px;
}

.tituloCalcu{
    text-align: center;
    color: white;
    margin: 80px 0px 50px 0px;
    text-shadow: 3px 2px 4px rgba(0,0,0,0.7);
    font-size: 40px;
}

.resultado{
    font-size: 30px;
    margin: 10px auto auto auto;
    padding: 0px 0px 10px 20px;
    list-style: none;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 768px) {
    input {
      font-size: 20px;
      max-width: 89.2vw;
    }
    .resultado{
      font-size: 15px;
    }

  }
  
  @media (max-width: 480px) {
    .inputSquare {
      max-height: 20vh;
    }
    .resultado {
      font-size: 20px;
    }
    .tituloCalcu {
      margin: 30px 0px 30px 0px;
    }
    .inputSquare ul li {
      font-size: 17px;
    }
    .inputSquare ul {
      padding: 0px;
    }
    input{
      max-width: 88.9vw;
    }
  }
  @media (min-width: 768px) {
    .inputSquare {
      margin-bottom: 150px;
    }
  }