*{
    margin: 0px;
}
.listaFooter{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.dataDevFoot{
    font-size: 20px;
}

.listaFooter li {
    color: white;
    font-size: 40px;
    margin: 20px 0 10px 0;
}

footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0px;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.git:hover{
    color: rgb(110, 15, 98);
}

.linke:hover{
    color: rgb(14, 118, 168);
}

a{
    text-decoration: none;
    color: white;
}


@media (max-width: 768px) {
    .listaFooter {
      align-items: center;
      padding: 0px;
    }
  
    .listaFooter li {
      margin-top: 10px;
    }
    .listaFooter li{
        font-size: 30px;
    }
    footer{
        margin: 100px 0px 0px 0px;
    }
    .dataDevFoot{
        font-size: 12px;
    }
  }
