*{
    margin: 0px;
}
.listaFooter{
    background-color: rgb(112, 109, 117);
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.listaFooter li {
    color: white;
    font-size: 40px;
    margin: 20px 0 10px 0;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0px;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.git:hover{
    color: rgb(0, 0, 0);
}

.code:hover{
    color: rgb(64, 66, 66);
}

.linke:hover{
    color: rgb(14, 118, 168);
}

.star:hover{
    color: goldenrod
}

a{
    text-decoration: none;
    color: white;
}


@media (max-width: 768px) {
    .listaFooter {
      align-items: center;
      padding: 0px;
    }
  
    .listaFooter li {
      margin-top: 10px;
    }
    .listaFooter li{
        font-size: 30px;
    }
    footer{
        margin: 100px 0px 0px 0px;
        position: static;
    }
  }
